/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 40px;
  font-family: 'Hind', sans-serif;
  height: 100%;
}
/*my top code starts here*/
.container-resume {
  width: 100%;
  padding: 40px;
  margin: 0 auto;
}
.top-content {
  padding: 40px;
  margin: 0 auto;
  border: 1px solid black;
}
.top-content nav {
  padding: 20px;
  margin: 0 auto;
  border: 2px solid red;
}
.top-content nav .logo {
  margin: 10px;
  width: 95px;
  padding: 20px;
  border: solid black;
}
.top-content nav .navigation-a {
  text-align: center;
  background-color: yellow;
}
.top-content nav .navigation-a a {
  color: hotpink;
}
.top-content header {
  display: flex;
  padding: ;
  margin: 40px;
  background-color: plum;
}
.top-content header .header-img {
  width: 50%;
}
.top-content header .header-img .header-comp {
  width: 100%;
}
.top-content header .h1-headline {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  margin: 40px;
  background-color: seagreen;
}
.top-content header .h1-headline h1 {
  color: magenta;
}
.top-content header .h1-headline p {
  display: flex;
  justify-content: flex-start;
  color: blue;
}
.top-content header .h1-headline button {
  padding: 20px;
  border: 2px solid black;
}
.middle-content {
  padding: 8%;
  margin: 0 auto;
  background-color: brown;
}
.middle-content .col1-learned {
  display: flex;
  justify-content: flex-start;
  padding: 5%;
  margin: 7%;
  background-color: aqua;
}
.middle-content .col1-learned .computer-img {
  width: 60%;
}
.middle-content .col1-learned h2 {
  color: #3c0b74;
}
.middle-content .col1-learned p {
  padding: 20px;
  margin: 2%;
  background-color: pink;
}
.middle-content .col1-learned .col2-stuff {
  padding: 20px;
  margin: 20px;
  background-color: yellowgreen;
}
.middle-content .col1-learned .col2-stuff .stuff-i-can-do {
  background-color: purple;
}
.middle-content .col1-learned .col2-stuff .stuff-i-can-do ul {
  font: bold;
  color: aliceblue;
}
.middle-content .col1-learned .col2-stuff .stuff-i-can-do ul li {
  color: green;
}
.bottom-content {
  margin: 0 auto;
  padding: 0px 40px 0px 40px;
  background-color: crimson;
}
.bottom-content .work-history {
  background-color: springgreen;
}
.bottom-content .work-history .col1-work {
  background-color: antiquewhite;
}
.bottom-content .work-history .col1-work table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.bottom-content .work-history .col1-work table td,
.bottom-content .work-history .col1-work table th {
  background-color: cornflowerblue;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.bottom-content .work-history .col1-work table td tr:nth-child(even),
.bottom-content .work-history .col1-work table th tr:nth-child(even) {
  background-color: #dddddd;
}
.bottom-content .work-history .col1-work tr {
  background-color: orange;
}
.bottom-content .work-history .col1-work tr td {
  color: orangered;
}
footer {
  padding: 20px;
  margin: 20px;
  text-align: center;
  background-color: red;
}
/*table styled here*/
.container-resume {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}
